<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlf.music.mapper.UserMapper">

    <select id="selectUsersByPage" resultType="com.jlf.music.vo.user.UserListVo">
        select id,
               username,
               email,
               is_active,
               create_time,
               is_deleted
        from user
        ORDER BY id ASC
    </select>
</mapper>